.dropdown-container{
    width: 30vw;
    height: auto;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 50px auto;
}
.btn{
    width: 35vw;
    background-color: white;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;

}
i{
    background-color: white;
    font-size: 1.2rem;
}
.option_container{
    width: 45vw;
    background-color: white;
    border-radius: 3px;
    margin-top: 5px;
    padding-top: 5px;

}
.options{
    background-color: white;
}

.option{
    background-color: white;
    list-style: none;
    padding: 5px 0px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}